.idea/
.vs/

Con.App/Output/
Con.Core/Output/
Con.Tasks/Output/

Con.App/vcpkg_installed/
Con.Core/vcpkg_installed/
Con.Tasks/vcpkg_installed/

Con.App/.vcpkg_cache/
Con.Core/.vcpkg_cache/
Con.Tasks/.vcpkg_cache/

Con.App/Con.Tasks.vcxproj.user
Con.Core/Con.Tasks.vcxproj.user
Con.Tasks/Con.Tasks.vcxproj.user

Con.App/Con.Tasks.vcxproj.filters
Con.Core/Con.Tasks.vcxproj.filters
Con.Tasks/Con.Tasks.vcxproj.filters